$color-submit-email: #46d35a;
$color-selected-items-summary: #379285;
$color-input-placeholder-text: #a4adbb;
$color-return-button: #a4adbb;
$color-sub-heading: #3dc9b5;
$input-opacity: 15%;
$color-checkbox-selected: #4fff64;
$color-checkbox-icon: #b4b5b8;
$color-submit-form: #4fff64;
$font-family-open-sans: 'open-sans', 'Helvetica', 'san-serif';
$white: #fff;
$size-checkmark-button: 225px;
