.survey-form-summary-container {
    text-align: center;

    .main-heading {
        margin-bottom: 40px;
    }

    .subscribe-form {
        margin-top: 55px;
    }

    .subscribe-form-wrapper {
        margin-bottom: 230px;
    }

    p {
        font-size: 22px;
        color: $white;
        font-family: $font-family-open-sans;
    }

    .subscribe-form{
        input{
            padding-left: 25px;
            display: inline-block;
            width: 365px;
            height: 64px;
            background-color: rgba(000, 000, 000, .2);
            color: $white;
            border: none;
            font-family: $font-family-open-sans;
            font-size: 22px;
        }

        .btn-submit{
            display: inline-block;
            width: 185px;
            height: 64px;
            line-height: 64px;
            margin-left: -5px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;

            img{
                margin-top: -3px;
            }
        }
    }

    .selected-options{
        .option{
            background-color: $color-selected-items-summary;
            padding: 0px 8px;
        }
    }

    .btn-return-to-survey{
        display: inline-block;
        width: 310px;
        height: 60px;
        background-color: rgba(000, 000, 000, .2);
        color: $color-return-button;
        font-size: 20px;
        padding: 0px;

        img {
            margin-top: -5px;
            margin-left: -5px;
            margin-right: 10px;
        }
    }

}

@media #{$medium-up} {
    .survey-form-container{

    }
}

@media #{$large-up} {
    .survey-form-container{

    }
}
